{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Confirm{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <center><h3>Password Reset Confirm</h3></center>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    {% for fm1 in form %} {% comment %} # this form is define in LoginView so don't panic  {% endcomment %}
    <div class="form-group">
        {{fm1.label_tag}}{{fm1}}
        <small class="text-danger">{{fm.errors|striptags}}</small><br>
    </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary mt-3" value="Submit">

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
    {% endif %}

   </form>
  </div>
 </div>
</div>
{% endblock main-content %}