{% extends 'app/base.html' %}
{% load static %}
{% block title %}Mens Wears{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class="list-group">
        <a href="{% url 'topwear' %}" class="list-group-item list-group-item-action active" aria-current="true">All Girls Wears</a>
        <a href="{% url 'topweardata' 'ahuja' %}" class="list-group-item list-group-item-action" aria-current="true">Ahuja</a>
        <a href="{% url 'topweardata' 'buja' %}" class="list-group-item list-group-item-action" aria-current="true">Buja</a>        
        <a href="{% url 'topweardata' 'below' %}" class="list-group-item list-group-item-action" aria-current="true">Below Rs.500/-</a>        
        <a href="{% url 'topweardata' 'above' %}" class="list-group-item list-group-item-action" aria-current="true">Above Rs.500/-</a>        
      </div>
  </div>
  <div class="col-sm-8 offset-sm-1">
    <div class="row">
        {% for product in topwear %}
        <div class="col-sm-4 text-center mb-4">
            <a href="{% url 'product-detail' product.id %}" class="btn">
                <div class="item">
                    <img src="{{product.product_image.url}}" alt="" height="300" class="">
                    <div class="fw-bold">{{product.brand}}</div>
                    <div class="fw-bold">Rs{{product.discounted_price}}
                        <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
                </div>
            </a>
        </div>
          
        {% endfor %}
    </div>
  </div>
 </div>
</div>
{% endblock main-content %}